*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* GENERICS */

body{
    background-color: blue;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: -5px -3px;

   
   
}

.col{
    min-height: 100px;
}

.image{
    max-height: 115px;
    width: 200px;
    padding: 5px 3px;
    background-position: center;


    
  
}


/* HEADER */

header{
    height: 80px;
}



/* MAIN */
main{
    background-color: red;
    height:calc(100vh - 160px);
    overflow-y: auto;
    display: flex;
    
}

.container{
    max-width: 1400px;
    margin: auto;
    background-color: white;
    
}





/* FOOTER */

footer{
    background-color: green;
    min-height: 80px;
}