*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* GENERICS */

body{
    background-color: blue;
}

.col{

    display: flex;
    
}

.image{
    position: relative;
    max-height: 100%;
    
}

img{
    display: flex;
}

/* HEADER */

header{
    height: 80px;
}



/* MAIN */
main{
    background-color: red;
    height:calc(100vh - 160px);
    overflow-y: auto;
    display: flex;
    
}

.container{
    max-width: 1400px;
    margin: auto;
    background-color: white;
}

.name{
    bottom: 0;
    left:0;
    position: absolute;
    background-color: blue;
    
}




/* FOOTER */

footer{
    background-color: green;
    min-height: 80px;
}