*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




/* GENERICS */

body{
    background-color: black;
}

/* HEADER */

header{
    height: 80px;
    text-align: right;
    line-height: 40px;
}

header button{
    color: white;
    background-color:grey;
    padding: 7px 5px;
    border: 0;
    border-radius: 5px;
    text-align: center;
}



/* MAIN */
main{
    background-color: black;
    height:calc(100vh - 160px);
    overflow-y: auto;
   
    
}

.container{
    max-width: 1550px;
    margin: auto;
    background-color: ;
    display: flex;
    flex-wrap: wrap;
}

.name{
    bottom: 10px;
    left:5px;
    padding: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-transform: capitalize;
    font-weight: 550;
}


.image{
    position: relative;
    display: flex;
    max-height: 100%;
    padding:10px 5px
   
}

i{
    margin-right: 5px;
}




/* FOOTER */

footer{
    
    min-height: 80px;
}